.meal-form {
    background:  #1c1b1b;
    padding: 25px;
    border-radius: 18px;
    width: 400px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;

    gap: 18px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
    color: #D4AF37;

}

.meal-form .form-group {
    display: flex;
    flex-direction: column;

}

.meal-form label {
    font-weight: 600;
    margin-bottom: 6px;
    color: #D4AF37;

}

.meal-form input[type="text"],
.meal-form input[type="number"],
.meal-form textarea {
    padding: 10px;
    border-radius: 12px;
    border: none;
    outline: none;
    font-size: 14px;
    color: #D4AF37;
    background: rgba(255, 255, 255, 0.1);
}

.meal-form input[type="file"] {
    align-content:center;
    color: #D4AF37;
}

.meal-form textarea {
    resize: vertical;
    min-height: 80px;
}

.meal-form .btn-cart {
    background: white;
    color: #000;
    border-radius: 20px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    transition: 0.3s;
    margin-left: auto;
    margin-right: auto;

}

.meal-form .btn-cart:hover {
    background: #D4AF37;;

}

.meal-form .error {
    color: red;
    font-size: 12px;
    margin-top: 4px;
}

