body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #ffc3c3;
}
header {
    background: #111;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
header a, header form button {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
    background: none;
    border: none;
    cursor: pointer;
}
.meals-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 25px;
    gap: 20px;
}
.meal-card {
    border: 1px solid #ddd;
    width: 220px;
    border-radius: 8px;
    overflow: hidden;
    background: #fff;
    text-align: center;
    padding-bottom: 10px;
}
.meal-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.meal-card button, .meal-card a {
    margin-top: 5px;
    width: 80%;
    padding: 6px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn-cart {
    background: #0c72e0;
    color: #fff;
}
.btn-view {
    background: #aaa;
    color: #fff;
}
.welcome {
    text-align: center;
    margin-top: 20px;
}
